

@{
    ViewBag.Title = "title";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>10 Points to Secure Your ASP.NET Core MVC Applications</h2>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Topic</b></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"> <b> 1) Broken authentication and session management [ Account Controller ] </b></li>
                    <li class="list-group-item"> <b> 2) Sensitive Data Exposure & Audit trail [ AuditFilter ] </b></li>
                    <li class="list-group-item"> <b> 3) Cross-Site Scripting (XSS) attacks [ BlogController ] </b></li>
                    <li class="list-group-item"> <b> 4) Malicious File Upload [UploadController]</b></li>
                    <li class="list-group-item"> <b> 5) Security Misconfiguration [ CustomExceptionFilterAttribute  ] </b></li>
                    <li class="list-group-item"> <b> 6) Version Discloser [ Startup.cs ] </b></li>
                    <li class="list-group-item"> <b> 7) Cross-Site Request Forgery (CSRF) [Account Controller]</b></li>
                    <li class="list-group-item"> <b> 8) XML External Entities (XXE) [ XXE Controller ]</b></li>
                    <li class="list-group-item"> <b> 9) Insecure Deserialization [ StockController ]</b></li>
                    <li class="list-group-item"> <b> 10) SQL Injection Attack [DemoController]</b></li>                         
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
