@model CoreSecurity.Models.UploadModel
@{
    ViewData["Title"] = "Register";
}
<h2>Create</h2>
<h4>Document Upload</h4>
<hr />
<div class="row">
<div class="col-md-4">
<form asp-action="Document" asp-controller="Upload" 
          enctype="multipart/form-data" asp-antiforgery="true" >
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
<label>Upload File</label>
<input asp-for="UserDocument" type="file" class="form-control" />
</div>
<div class="form-group">
    <input type="submit" value="Upload" class="btn btn-default" />
</div>
</form>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

